@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.heading{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    align-items: center;
}
.choose_file_heading{
    font-family: "Barlow Semi Condensed";
    color: aliceblue;
}
.mainBody{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.mainBodyItemCard{
    font-family:'roboto', sans-serif;
    transition: all 1s ease-in-out;
    width: 100vw;
    height: 15vh;
    margin-top: -30px;
}
.mainBodyItemCard:active{
    transform: scale(1.3);
    
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.headingText{

    animation: heading-animation 3s ease-in forwards infinite alternate;

background: linear-gradient(
    90deg,
    #2f80ff 0%,
    #7b61ff 25%,
    #d946ef 50%,
    #ff4d6d 75%,
    #ff8a00 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.choose_button{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #0099cc, #00d4ff);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.uploadingButtons{
    margin: 10px;
    border: 3px solid #00d4ff;
    border-radius: 10px;
    padding: 10px;
    color: #e0e0e0;
    background-color: #1e1e1e;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    font-size: x-large;
    cursor: pointer;
}
.uploadingButtons:active{
    transform: scale(1.2);
}


@keyframes heading-animation {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.05);

    }
    50%{
        transform: scale(1.1);
    }
    75%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1.2);  
    }  
}